doctype html
html(ng-app='Application')
  head
    title='Facebook Graph Example'
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/sdk.js')
    script(src='/js/angular.min.js')
  body(ng-controller='ApplicationController')
    block content
      div#fb-root

  script(src='/js/app.js')

